* {
  font-family: "Roboto", "Gill Sans", "Helvetica Neue";
  background-color: #a77e58;
  color: #dfe0e2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container button {
  background-color: #96897b;
  margin-top: 1em;
  width: 200px;
  height: auto;
  font-size: xx-large;
  border: 1px solid #dfe0e2;
  border-radius: 20%;
  cursor: pointer;
}

.miniText {
  font-size: small;
  margin-top: 2em;
}
